.sidebar-container {
  width: 10vw;
  height: 100vh;
  border-right: 2px solid;
  background-color: rgb(44, 238, 238);
}

.sidebarShow {
  width: 30vw;
  height: 100vh;
  border-right: 2px solid;
  background-color: rgb(44, 238, 238);
}
